<div class="chirp">
	<h4><%= chirp.body%></h4>
	<h5>posted <%= time_ago_in_words(chirp.created_at)%></h5>
	<p><%= link_to chirp.user.username, username_path(chirp.user.username)  %> 
	<% if current_user and current_user == chirp.user %>
	|<%=link_to 'X', chirp, method: :delete %>
	<% end %></p>
</div>
