<h1>New Chirp!</h1>
<%= form_for @chirp do |f|%>
<% if @chirp.errors.any? %>
	<% @chirp.errors.full_messages.each do |error| %>
	<p><% error %></p>
	<% end %>
<% end %>
	<div>
		<%=f.text_area :body%>
	</div>
	<div>
		<%=f.submit %>
	</div>
<% end %>